body {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(31, 29, 29, 0.932);
    text-align: center;
}

canvas.mapadibujo {
    background-color: black;
}

canvas.marcoColor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

canvas.marcoIndicador {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}

#color1 {
    background-color: #FFFFFF;
}

#color2 {
    background-color: #FDFB63;
}

#color3 {
    background-color: #55C1FF;
}

#color4 {
    background-color: #C7FAB0;
}

#color5 {
    background-color: #DD6CFF;
}

#color6 {
    background-color: #FF5F5F;
}

#color7 {
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #ffffff00;
}

input[type="text"],
input[type="button"] {
    font-size: large;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    color: aliceblue;
    background-color: rgba(31, 29, 29, 0.932);
}

input[type="text"]:hover {
    background-color: rgba(59, 58, 58, 0.932);
}

p.msjError {
    color: #FF5F5F;
    display: block;
}