body {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(31, 29, 29, 0.932);
    text-align: center;
}

canvas.mapadibujo {
    background-color: black;
}

canvas.color {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

#color1 {
    background-color: rgb(255, 255, 255);
}

#color2 {
    background-color: rgb(253, 251, 99);
}

#color3 {
    background-color: rgb(85, 193, 255);
}

#color4 {
    background-color: rgb(221, 108, 255);
}

#color5 {
    background-color: rgb(255, 95, 95);
}

input[type="text"],
input[type="button"] {
    font-size: large;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    color: aliceblue;
    background-color: rgba(31, 29, 29, 0.932);
}

input[type="text"]:hover {
    background-color: rgba(59, 58, 58, 0.932);
}