a {
    color: #FFFFFF;
    text-decoration: solid;
}

.barraNav {
    list-style: none;
    display: flex;
    align-items: left;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    font-size: 20px;
    width: 100%;
    background-color: #dd6c2a;
}

.barraItem {
    width: 100px;
    border: 10px;
    vertical-align: bottom;
    padding: 10px;
}

li:hover {
    background-color: #f79466;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #fff9c4;
    text-align: center;
    margin: 0px;
    color: aliceblue;
}

#color1 {
    background-color: #FFFFFF;
}

#color2 {
    background-color: #FDFB63;
}

#color3 {
    background-color: #55C1FF;
}

#color4 {
    background-color: #C7FAB0;
}

#color5 {
    background-color: #DD6CFF;
}

#color6 {
    background-color: #FF5F5F;
}

#color7 {
    background-color: #ffffff00;
}

.contColores {
    display: block;
    align-content: center;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #4d4040;
}

.contFooter {
    background-color: #dd6c2a;
}

.contGeneral {
    display: inline-block;
    min-width: 350px;
    min-height: 470px;
    margin: 20px;
    /*color texto unico para este tema.*/
    color: #4d4040;
}

.contTexto {
    display: block;
    padding: 5px;
}

h1 {
    padding: 0px;
    margin: 5px;
}

input[type="text"] {
    font-size: large;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #FFFFFF;
}

input[type="text"]:hover {
    background-color: #fffacc;
}

input[type="button"] {
    width: 100px;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #dd6c2a;
}

input[type="button"]:hover {
    background-color: #f79466;
}

.mapadibujo {
    background-color: #666665;
    width: 350px;
    height: 350px;
    margin: 5px;
    max-width: 500px;
    max-height: 500px;
    border-style: solid;
    border-radius: 5%;
    border-color: #706f6f;
}

.marcoColor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px;
    border-style: solid;
    border-color: #646464;
}

.marcoIndicador {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    border-style: solid;
    border-color: #646464;
}

.msjError {
    display: block;
    padding: 5px;
    font-size: large;
    font-style: italic;
    color: #FF5F5F;
}

.msjFooter {
    margin: 0px;
    padding: 10px;
    text-align: left;
}