<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dibujando con Canvas</title>
    <link rel="stylesheet" href="../static/css/darkstyle.css">
</head>

<body>
    <header style="margin:0px">
        <ul class="barraNav">
            <li class="barraItem">Menu</li>
            <li class="barraItem"><a href="./index.html">Inicio</a></li>
            <li class="barraItem"><a href="./panel1.html">Panel 1</a></li>
            <li class="barraItem"><a href="./panel2.html">Panel 2</a></li>
        </ul>
    </header>
    <!--pagina1-->
    <!-- <h1>OBSERVA TU DIBUJO</h1> -->
    <h1>Hola soy el index</h1>
    <!--pagina1-->
    <footer>
        <div class="contFooter">
            <p class="msjFooter">
                Sitio creado por: <br>
                <em>Juan Miguel Blanco Medina</em>
                <br>juanmblancom@gmail.com
            </p>
        </div>
    </footer>
</body>

</html>