<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dibujando por teclado con Canvas</title>
    <link rel="stylesheet" href="" id="temaLink">
</head>

<body>
    <header style="margin:0px">
        <ul class="barraNav">
            <li class="barraItem">Menu</li>
            <li class="barraItem"><a href="./index.html">Inicio</a></li>
            <li class="barraItem"><a href="./panel1.html">Panel 1</a></li>
            <li class="barraItem"><a href="./panel2.html">Panel 2</a></li>
            <li class="barraItem" style="width: 50%;"></li>
            <li class="barraItem" style="width: fit-content;">
                <canvas class="marcoIndicador" id="cambioTema"></canvas>
            </li>
        </ul>
    </header>
    <!--panel2-->
    <div class="contGeneral">
        <h1>Hola soy el Panel2</h1>
    </div>
    <!--panel2-->
    <footer>
        <div class="contFooter">
            <p class="msjFooter">
                Sitio creado por: <br>
                <em>Juan Miguel Blanco Medina</em>
                <br>juanmblancom@gmail.com
            </p>
        </div>
    </footer>
    <script src="../static/js/cambioTema.js" type="text/javascript"></script>
</body>

</html>